html {
    --primary: #508DF8;
    --nav-width: 75px;
    --sizing-sm: 6px;
    --sizing-md: 12px;
    --surface-background: #2A2B36;
    --surface-card: #3f404b;
    --on-background: rgba(255,255,255,0.7);
    --on-background-active: rgba(255,255,255,0.95);
}